.profile-picture {
  display: block;
  height: 168px;
  width: 168px;
  border-radius: 50%;
  margin: auto;
  margin-top: -10%;
  padding-top: 6px;
}

.edit-profile-pic {
  display: none;
}

.camera-icon {
  height: 30px;
  display: block;
  margin: auto;
  margin-top: -50px;
}

.submit-profile-pic {
  display: block;
  margin: auto;
  margin-top: 10px;
}

.my-profile-background {
  background-color: white;
  height: 509px;
  // margin-top: 1px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.1);
}

.my-cover-photo {
  height: 68%;
  width: 67%;
  background-color: #F0F2F5;
  margin: auto;
  display: block;
  border-radius: 9px;
}

.profile-pic-container {
  display: block;
  height: 179px;
  width: 179px;
  border-radius: 50%;
  margin: auto;
  margin-top: -10%;
  background-color: white;
}