.comment-sub-text {
  font-size: 12px;
  position: relative;
  bottom: 22px;
  color: #050505;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  padding-left: 64px;
}

.comment-form-file {
  height: 36px;
  width: 396px;
  border-radius: 25px;
  border-color: transparent;
  background-color: #F0F2F5;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;  padding-left: 10px;
  position: relative;
  bottom: 22.9px;
  outline: none;
  resize: none;
  text-overflow: clip;
}

#mini-pic-on-comment {
  width: 32px;
  height: 32px;
  margin-right: 6px;
}
.comment-camera-icon {
  width: 17px;
  margin-left: 9.5px;
  margin-top: 11.8px;
}

.comment-camera-icon-container {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  position: absolute;
  margin-left: 432px;
  margin-top: -62px;
  cursor: pointer;
}

.comment-camera-icon-container:hover {
  background-color: #E4E6E9;
}

.comment-background {
  width: 408px;
  background-color: #F0F2F5;
  position: relative;
  left: 60px;
  bottom: 49px;
  // bottom: 10px;
  // left: 100px;
  border-radius: 19px;
}

.comment-author-name {
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;  padding-left: 10px;
  color: #050505;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 0px 5px 12px;
}

.comment-author-name-link {
  text-decoration: none;
  color: #050505;
}

.comment-body {
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;  padding-left: 10px;
  color: #050505;
  font-size: 15px;
  padding: 0px 0px 10px 12px;
}

.comment-delete-button {
  position: absolute;
  // display: none;
}

.comment-container {
  position: relative;
  margin-bottom: -40px;
}