.comment-sub-text {
  font-size: 12px;
  position: relative;
  bottom: 22px;
  color: #050505;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  padding-left: 64px;
}

.comment-form-file {
  height: 36px;
  width: 396px;
  border-radius: 25px;
  border-color: transparent;
  background-color: #F0F2F5;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;  padding-left: 10px;
  position: relative;
  bottom: 22.9px;
  outline: none;
}

#mini-pic-on-comment {
  width: 32px;
  height: 32px;
  margin-right: 6px;
}
.comment-camera-icon {
  width: 17px;
  margin-left: 9.5px;
  margin-top: 11.8px;
}

.comment-camera-icon-container {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  position: absolute;
  margin-left: 432px;
  margin-top: -62px;
  cursor: pointer;
}

.comment-camera-icon-container:hover {
  background-color: #E4E6E9;
}

.comment-background {
  max-width: 404px;
  background-color: #F0F2F5;
}