.feed-index-top-gap {
  height: 15px;
}

.feed-index-container {
  position: relative;
  margin-top: 30px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.top-level-feed-div {
  width: 100%;
  // background-color: rgb(255, 143, 143);
  margin: auto;
}