.like-button-container {
  width: 140px;
  height: 34px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0px 0px 3px 74px;
  float: left;
  // background-color: #F1F2F2;
}

.like-button-container:hover {
  background-color: #F1F2F2;
}

.like-button {
  height: 20px;
  position: relative;
  left: 40px;
  top: 7px;
}

.like-word {
  color: #65676B;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 15px;
  position: relative;
  left: 47px;
  top: 3px;
}

.post-like-count-container {
  color: #65676B;
  font-size: 15px;
  font-weight: lighter;
  position: relative;
  float: left;
  bottom: 2.5px;
  margin-bottom: 5px;
}

.post-like-logo {
  display: inline;
  height: 20px;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 0px;
  padding: 0;
}

.post-like-count {
  position: relative;
  bottom: 5px;
}

.post-like-count-link {
  text-decoration: none;
  color: #65676B;
}

.post-like-count-link:hover {
  text-decoration: underline;
}