.add-remove-friends-button {
  width: 120px;
  height: 35px;
  background-color: #1B74E4;
  border-radius: 6px;
  margin: auto;
  cursor: pointer;
}

.add-remove-friends-button:hover {
  background-color: #176ace;
}

.add-friend-icon {
  height: 16px;
  width: 16px;
  padding-top: 9px;
  padding-left: 10px;
  display: absolute;
}

.add-friend-icon-text {
  font-weight: bold;
  color: white;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 15px;
  position: relative;
  text-align: center;
  margin-left: 24px;
  bottom: 18px;
}

#remove-friends-button {
  width: 100px;
  background-color: #E4E6EB;
}

#remove-friends-button:hover {
  background-color: #d4d6da;
}

#remove-friend-icon-text {
  color: black;
}

.confirm-friend-request-button {
  width: 145px;
  height: 40px;
  background-color: #1B74E4;
  border-radius: 6px;
  margin: auto;
  cursor: pointer;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 15px;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  margin-top: 12px;
  margin-right: 10px;
  position: relative;
}

.confirm-friend-request-button:hover {
  background-color: #176ace;
}

.delete-friend-request-button {
  width: 145px;
  height: 40px;
  background-color: #E4E6EB;
  border-radius: 6px;
  margin: auto;
  cursor: pointer;
  color: black;
  border: none;
  font-weight: bold;
  font-size: 15px;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  margin-right: 16px;
  position: relative;
}

.delete-friend-request-button:hover {
  background-color: #d4d6da;
}

.sent-you-a-friend-request {
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  position: absolute;
  margin-top: 24px;
  margin-left: 16px;
}

.friend-request-strip-container {
  border-radius: 9px;
  width: 61.5%;
  min-width: 330px;
  height: 65px;
  background-color: #F7F8FA;
  margin: auto;
  margin-top: -50px;
  text-align: right;
  position: relative;
}

.unfriend-button {
  display: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  margin: auto;
  width: 100px;
  height: 35px;
  background-color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  color: black;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 15px;
  position: absolute;
  text-align: center;
  margin-top: -7.7px;
}

.unfriend-logo {
  height: 20px;
  width: 20px;
  position: relative;
  margin-top: 7px;
  right: 3px;
}

.unfriend-button-text {
  position: relative;
  bottom: 4px;
  left: 4px;
}

#remove-friends-button:hover .unfriend-button {
  display: block;
}

.unfriend-button:hover {
  background-color: #f0f0f0;
}


.friend-profile-picture {
  width: 32px;
  height: 32px;
  border: 2px solid white; 
  border-radius: 50px;
}

.friend-profile-picture-li {
  display: inline-block;
  margin-left: -7.5px;
}

.friend-profile-picture-ul {
  text-align: center;
  margin-bottom: 10px;
  margin-left: 7.5px;
}

.profile-friend-count {
  text-align: center;
  font-size: 17px;
  color: #65676B;
  font-weight: bold;
  margin-bottom: 10px;
}

.friend-status-container {
  display: block;
  position: relative;
  z-index: 1;
}

.mini-friend-index-div {
  background-color: white;
  width: 360px;
  min-height: 60px;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.mini-friend-index-image {
  width: 102px;
  height: 102px;
  display: inline;
  border-radius: 8px;
  -webkit-filter: brightness(100%);
}

.mini-friend-index-image:hover {
  -webkit-filter: brightness(90%);
  cursor: pointer;
}

.mini-friend-index-image-ul {
  width: 360px;
  margin: 0;
  padding: 0;
}

.mini-friend-index-image-li {
  display: inline-block;
  width: 102px;
  height: 102px;
  margin-left: 13.3px;
  margin-bottom: 50px;
}

.mini-friend-index-name {
  font-size: 13px;
  font-weight: bold;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  position: absolute;
  max-width: 102px;
  color: black;
  margin-top: 5px;
}

.mini-friend-index-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mini-friend-index-title {
  font-weight: bold;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: black;
}

.mini-friend-index-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.link-to-full-friends-index {  
  position: relative;
  float: right;
  font-size: 17px;
  color: #216FDB;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}

.link-to-full-friends-index:hover {
  cursor: pointer;
  text-decoration: underline;
}

.mini-friend-index-header {
  width: 333px;
  margin-left: 13.3px;
  padding-top: 20px;
}

.mini-friend-index-count {
  color: #65676B;
  font-size: 17px;
  margin-top: 7px;
  margin-left: 13.3px;
  margin-bottom: 17px;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}

.profile-tabs-link {
  text-decoration: none;
  color: #65676B;
}

#friend-index-title {
  margin-left: 8px;
  text-decoration: none;
  cursor: text
}

#friend-index-div {
  width: 875px;
}

#friend-index-image-ul {
  width: 870px;
}

#friend-index-image {
  width: 150px;
  height: 150px;
}

#friend-index-image-li {
  margin-left: 21px;
  width: 150px;
  height: 150px;
}

#friend-index-count {
  margin-left: 21px;
}

#feed-friend-suggestion-ul {
  margin-top: 15px;
}

#feed-friend-suggestion-div {
  z-index: 1;
  vertical-align: top;
  margin-top: 15px;
  top: 56px;
  width: 360px;
}

#feed-friend-suggestion-title {
  text-decoration: none;
  cursor: text;
}