.add-remove-friends-button {
  width: 120px;
  height: 35px;
  background-color: #1B74E4;
  border-radius: 6px;
  margin: auto;
  cursor: pointer;
}

.add-remove-friends-button:hover {
  background-color: #176ace;
}

.add-friend-icon {
  height: 16px;
  width: 16px;
  padding-top: 9px;
  padding-left: 10px;
  display: absolute;
}

.add-friend-icon-text {
  font-weight: bold;
  color: white;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 15px;
  position: relative;
  text-align: center;
  margin-left: 24px;
  bottom: 18px;
}

#remove-friends-button {
  width: 100px;
  background-color: #E4E6EB;
}

#remove-friends-button:hover {
  background-color: #d4d6da;
}

#remove-friend-icon-text {
  color: black;
}

.confirm-friend-request-button {
  width: 145px;
  height: 40px;
  background-color: #1B74E4;
  border-radius: 6px;
  margin: auto;
  cursor: pointer;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 15px;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  margin-top: 12px;
  margin-right: 10px;
  position: relative;
  z-index: 1;
}

.confirm-friend-request-button:hover {
  background-color: #176ace;
}

.delete-friend-request-button {
  width: 145px;
  height: 40px;
  background-color: #E4E6EB;
  border-radius: 6px;
  margin: auto;
  cursor: pointer;
  color: black;
  border: none;
  font-weight: bold;
  font-size: 15px;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  margin-right: 16px;
  position: relative;
  z-index: 1;
}

.delete-friend-request-button:hover {
  background-color: #d4d6da;
}

.sent-you-a-friend-request {
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  position: absolute;
  margin-top: 24px;
  margin-left: 16px;
}

.friend-request-strip-container {
  border-radius: 9px;
  width: 61.5%;
  min-width: 330px;
  height: 65px;
  background-color: #F7F8FA;
  margin: auto;
  margin-top: -50px;
  text-align: right;
  position: relative;
  z-index: 1;
}

.unfriend-button {
  display: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  margin: auto;
  width: 100px;
  height: 35px;
  background-color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  color: black;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 15px;
  position: absolute;
  text-align: center;
  margin-top: -7.7px;
}

.unfriend-logo {
  height: 20px;
  width: 20px;
  position: relative;
  margin-top: 7px;
  right: 3px;
}

.unfriend-button-text {
  position: relative;
  bottom: 4px;
  left: 4px;
}

#remove-friends-button:hover .unfriend-button {
  display: block;
}

.unfriend-button:hover {
  background-color: #f0f0f0;
}


.friend-profile-picture {
  width: 32px;
  height: 32px;
  border: 2px solid white; 
  border-radius: 50px;
}

.friend-profile-picture-li {
  display: inline-block;
  margin-left: -7.5px;
}

.friend-profile-picture-ul {
  text-align: center;
  margin-bottom: 10px;
}

.profile-friend-count {
  text-align: center;
  font-size: 17px;
  color: #65676B;
  font-weight: bold;
  margin-bottom: 10px;
}

.friend-status-container {
  display: block;
}